/*balises*/
*
{
  font-size: 15px;
}

table
{
  text-align: right;
  background-color: white;
  color: black;
  border: 0.3px solid black;
  border-collapse: collapse;
  margin-top: 20px;
}
td
{
  border: 0.3px solid black;
  padding-right: 3px;
  overflow: hidden;
}
th
{
  text-align: center;
  border: 0.3px solid black;
}
/*td, th { width: 30px; overflow: hidden; }
   table { width : 90px; table-layout: fixed; }*/

/*classe*/
.page
{
  margin: auto;
  /*border: 2px solid red;*/
}
.nobreak
{
  page-break-inside: avoid;
  margin-top: 50px;
}

/*ids*/
#logoA4i
{
  padding-left: 22cm;
  padding-top: 0.4cm;
  width: 8%;
  height: auto;
}
#homepage
{
  page-break-after: always;
}
#auditTitle
{
  font-size: 45px;
  color: purple;
}
