/* ==========================================================================================================================
 CSS corresponding to audit document output.

 Syntax : NONE

 Author : Alba Thomas (All4it)

 Creation date : 2018 June

 Revisions
 ------------------------------------------------------------------------------------------------------------------------
 Version | Date       | Author                            | Comments
 ------------------------------------------------------------------------------------------------------------------------
 1.0     | 2018/06    | Alba Thomas (All4it)              | Initial version

 ------------------------------------------------------------------------------------------------------------------------
 ========================================================================================================================== */

/*balises*/
*
{
  font-size: 15px;
}

h1, .big
{
  color: FireBrick;
  font-size: 25px;
  font-weight: bold;
}
h2, .medium
{
  color: DarkBlue;
  font-size: 20px;
  font-weight: bold;
}
h3, .small
{
  color: DarkBlue;
}
li
{
  margin: 10px;
}

a
{
  text-decoration: none;
}

table
{
  text-align: right;
  background-color: white;
  color: black;
  border: 1px solid black;
  border-collapse: collapse;
  margin-top: 20px;
}
td
{
  border: 1px solid black;
  padding-right: 3px;
  overflow: hidden;
}
th
{
  text-align: center;
  border: 1px solid black;
}

/*classe*/
.page
{
  margin: auto;
  width: 21cm;
  /*border: 2px solid red;*/
}
.nobreak
{
  page-break-inside: avoid;
  margin-top: 50px;
}

/*ids*/
#logoA4i
{
  padding-left: 22cm;
  padding-top: 0.4cm;
  width: 8%;
  height: auto;
}
#logoClient
{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#homepage
{
  page-break-after: always;
  padding-top: 10cm;
}
#summary
{
  height: 31.1cm;
}
#auditTitle
{
  font-size: 45px;
  color: purple;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}
